.swiper-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 150px;
  height: 150px;
  margin-bottom: 50px;
}

.swiper-slide > img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

table {
  margin-top: 20px;
  border-radius: 4px;
  margin: 0 auto;
  border-collapse: collapse;
  width: 90%;
  border: 1px solid #7243c2;
  border-radius: 4px;
}

.table-row,
.table-data,
.table-row-head {
  border: 1px solid #7243c2;
  border-radius: 4px;
  color: #ddd;
}

.table-data {
  text-align: center;
}

.table-data:first-child {
  background-color: #cacaca;
}

.table-data:nth-child(1n + 2) {
  padding: 2px;
  font-size: 1em;
}

div {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.image-container {
  height: 150px;
  width: 150px;
}

.image-container > img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
  }

  table {
    width: 70%;
  }
  th {
    padding: 5px;
  }
  .table-data {
    padding: 0;
  }

  .table-data:first-child {
    width: 120px;
    height: 120px;
  }

  div {
    width: 120px;
    height: 120px;
    border-radius: 4px;
  }

  .image-container > img {
    object-fit: fill;
    height: 100%;
    width: 100%;
  }
}
